@import "tailwindcss";

@theme {
  --color-phthalo: #0E155E;
  --color-atlantis: #206ABC;
  --color-periwinkle: #7997E6;
  --color-phlox: #CAA9F3;
  --color-coral: #F28983;

  /* Шрифты */
  --font-manrope: "Manrope", sans-serif;
  --font-playfair: "Playfair Display", serif;
  
  /* Анимации */
  --animate-marquee: marquee 25s linear infinite;
	--animate-float: float 6s ease-in-out infinite;
  --animate-wobble: wobble 10s ease-in-out infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
	@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  @keyframes wobble {
    0%, 100% { 
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; 
    }
    33% { 
      border-radius: 60% 40% 46% 54% / 30% 29% 71% 70%; 
    }
    66% { 
      border-radius: 30% 70% 70% 30% / 49% 60% 40% 51%; 
    }
  }
}

/* Базовые стили */
@layer base {
  body {
    @apply bg-phthalo text-periwinkle antialiased;
    font-family: var(--font-manrope);
  }

  h1, h2, h3, h4, .font-playfair {
    font-family: var(--font-playfair);
  }
}

/* Утилита cn для Shadcn/стандартных компонентов */
@custom-variant hover (&:hover);

/* Форма цветка для фото */
.flower-mask {
  clip-path: url(#flower-path);
}